<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
  <link rel="stylesheet" href="/styles/index.css">
</head>
<body>
  <footer class="footer-container">
        <div class="footer-column">
          <h3 class="footer-heading">About Us</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed tincidunt tellus ac dui dignissim dictum.</p>
        </div>
        <div class="footer-column">
          <h3 class="footer-heading">Quick Links</h3>
          <ul class="footer-list">
            <li><a href="#">Home</a></li>
            <li><a href="#">Services</a></li>
            <li><a href="#">Products</a></li>
            <li><a href="#">Contact</a></li>
          </ul>
        </div>
        <div class="footer-column">
          <h3 class="footer-heading">Contact Us</h3>
          <p>Gmail: sherovulugbek04@gmail.com</p>
          <p>Phone: +447775741237</p>
        </div>
        <div class="footer-column">
          <h3 class="footer-heading">Stay Connected</h3>
          <p>Follow us on social media for updates and news.</p>
          <div class="social-icons">
            <a href="#" target="_blank"><i class="fab fa-facebook"></i></a>
            <a href="#" target="_blank"><i class="fab fa-twitter"></i></a>
            <a href="#" target="_blank"><i class="fab fa-linkedin"></i></a>
            <a href="#" target="_blank"><i class="fab fa-instagram"></i></a>
            <a href="#" target="_blank"><i class="fab fa-github"></i></a>
            <a href="#" target="_blank"><i class="fab fa-youtube"></i></a>
        </div>
        </div>
      </footer>
</body>
</html>