<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
  <link rel="stylesheet" href="https://unpkg.com/swiper@8/swiper-bundle.min.css"/>
  <link rel="stylesheet" href="/styles/index.css">
  <title>EJS Partials</title>
</head>
<header>
  <nav>
    <div class="nav-section">
       <div class="nav-logo">
        <img src="images/WebLogo.PNG">
       </div>
       <ul class="nav-links">
           <li><a href="#tranding">Home</a></li>
            <li><a href="#contact-us">Contact</a></li>
            <li><a href="#map">Location</a></li>
            <li><a href="#service">Service</a></li>
            <li><a href="/category">Categories</a></li>
            <li class="login-icon"><a href="/login"><img src="images/sign-icon.png"></a></li>
       </ul>
        <div class="toggle-btn">
            <i class="fa-solid fa-bars"></i>
        </div>
        <div class="dropdown-menu">
            <li><a href="#tranding">Home</a></li>
            <li><a href="#contact-us">Contact</a></li>
            <li><a href="#map">Location</a></li>
            <li><a href=#service>Service</a></li>
            <li><a href="/category">Category</a></li>
            <li class="login-icon"><a href="/login">Login</a></li>
        </div>      
       
    </div>
</nav>
</header>

