
    
    <!---Swiper Slide-->
    <section id="tranding">
        <div class="container">
          <h1 class="text-center section-heading">The Best collections </h1>
        </div>
        <div class="container">
          <div class="swiper tranding-slider">
            <div class="swiper-wrapper">
              <!-- Slide-start -->
              <div class="swiper-slide tranding-slide">
                <div class="tranding-slide-img">
                  <img src="images/art1.jpg " alt="Tranding">
                </div>
                <div class="tranding-slide-content">
                  <h1 class="art-price">$11,800</h1>
                  <div class="tranding-slide-content-bottom">
                    <h2 class="art-name">
                      Original City
                    </h2>
                    <h3 class="art-rating">
                      <span>4.5</span>
                      <div class="rating">
                        <ion-icon name="star"></ion-icon>
                        <ion-icon name="star"></ion-icon>
                        <ion-icon name="star"></ion-icon>
                        <ion-icon name="star"></ion-icon>
                        <ion-icon name="star"></ion-icon>
                      </div>
                    </h3>
                  </div>
                </div>
              </div>
              <!-- Slide-end -->
              <!-- Slide-start -->
              <div class="swiper-slide tranding-slide">
                <div class="tranding-slide-img">
                  <img src="images/art2.jpg" alt="Tranding">
                </div>
                <div class="tranding-slide-content">
                  <h1 class="art-price">$12,900</h1>
                  <div class="tranding-slide-content-bottom">
                    <h2 class="art-name">
                      London
                    </h2>
                    <h3 class="art-rating">
                      <span>4.5</span>
                      <div class="rating">
                        <ion-icon name="star"></ion-icon>
                        <ion-icon name="star"></ion-icon>
                        <ion-icon name="star"></ion-icon>
                        <ion-icon name="star"></ion-icon>
                        <ion-icon name="star"></ion-icon>
                      </div>
                    </h3>
                  </div>
                </div>
              </div>
              <!-- Slide-end -->
              <!-- Slide-start -->
              <div class="swiper-slide tranding-slide">
                <div class="tranding-slide-img">
                  <img src="images/art3.jpg"  alt="Tranding">
                </div>
                <div class="tranding-slide-content">
                  <h1 class="art-price">$70,000</h1>
                  <div class="tranding-slide-content-bottom">
                    <h2 class="art-name">
                      Batman
                    </h2>
                    <h3 class="art-rating">
                      <span>4.5</span>
                      <div class="rating">
                        <ion-icon name="star"></ion-icon>
                        <ion-icon name="star"></ion-icon>
                        <ion-icon name="star"></ion-icon>
                        <ion-icon name="star"></ion-icon>
                        <ion-icon name="star"></ion-icon>
                      </div>
                    </h3>
                  </div>
                </div>
              </div>
              <!-- Slide-end -->
              <!-- Slide-start -->
              <div class="swiper-slide tranding-slide">
                <div class="tranding-slide-img">
                  <img src="images/art4.jpg" alt="Tranding">
                </div>
                <div class="tranding-slide-content">
                  <h1 class="art-price">$16,000</h1>
                  <div class="tranding-slide-content-bottom">
                    <h2 class="art-name">
                      Muhammad Ali
                    </h2>
                    <h3 class="art-rating">
                      <span>4.5</span>
                      <div class="rating">
                        <ion-icon name="star"></ion-icon>
                        <ion-icon name="star"></ion-icon>
                        <ion-icon name="star"></ion-icon>
                        <ion-icon name="star"></ion-icon>
                        <ion-icon name="star"></ion-icon>
                      </div>
                    </h3>
                  </div>
                </div>
              </div>
              <!-- Slide-end -->
              <!-- Slide-start -->
              <div class="swiper-slide tranding-slide">
                <div class="tranding-slide-img">
                  <img src="images/art5.jpg" alt="Tranding">
                </div>
                <div class="tranding-slide-content">
                  <h1 class="art-price">$12,000</h1>
                  <div class="tranding-slide-content-bottom">
                    <h2 class="art-name">
                      Ali Underwater
                    </h2>
                    <h3 class="art-rating">
                      <span>4.5</span>
                      <div class="rating">
                        <ion-icon name="star"></ion-icon>
                        <ion-icon name="star"></ion-icon>
                        <ion-icon name="star"></ion-icon>
                        <ion-icon name="star"></ion-icon>
                        <ion-icon name="star"></ion-icon>
                      </div>
                    </h3>
                  </div>
                </div>
              </div>
              <!-- Slide-end -->
              <!-- Slide-start -->
              <div class="swiper-slide tranding-slide">
                <div class="tranding-slide-img">
                  <img src="images/art6.jpg" alt="Tranding">
                </div>
                <div class="tranding-slide-content">
                  <h1 class="art-price">$5,000-7,000</h1>
                  <div class="tranding-slide-content-bottom">
                    <h2 class="art-name">
                      Norman Parkinson
                    </h2>
                    <h3 class="art-rating">
                      <span>4.5</span>
                      <div class="rating">
                        <ion-icon name="star"></ion-icon>
                        <ion-icon name="star"></ion-icon>
                        <ion-icon name="star"></ion-icon>
                        <ion-icon name="star"></ion-icon>
                        <ion-icon name="star"></ion-icon>
                      </div>
                    </h3>
                  </div>
                </div>
              </div>
              <!-- Slide-end -->
              <!-- Slide-start -->
              <div class="swiper-slide tranding-slide">
                <div class="tranding-slide-img">
                  <img src="images/art7.jpg" alt="Tranding">
                </div>
                <div class="tranding-slide-content">
                  <h1 class="art-price">$9,500</h1>
                  <div class="tranding-slide-content-bottom">
                    <h2 class="art-name">
                      Wolgofung Curious
                    </h2>
                    <h3 class="art-rating">
                      <span>4.5</span>
                      <div class="rating">
                        <ion-icon name="star"></ion-icon>
                        <ion-icon name="star"></ion-icon>
                        <ion-icon name="star"></ion-icon>
                        <ion-icon name="star"></ion-icon>
                        <ion-icon name="star"></ion-icon>
                      </div>
                    </h3>
                  </div>
                </div>
              </div>
              <!-- Slide-end -->
               <!-- Slide-start -->
               <div class="swiper-slide tranding-slide">
                <div class="tranding-slide-img">
                  <img src="images/art8.jpg" alt="Tranding">
                </div>
                <div class="tranding-slide-content">
                  <h1 class="art-price">$20,000</h1>
                  <div class="tranding-slide-content-bottom">
                    <h2 class="art-name">
                      Mountain
                    </h2>
                    <h3 class="art-rating">
                      <span>4.5</span>
                      <div class="rating">
                        <ion-icon name="star"></ion-icon>
                        <ion-icon name="star"></ion-icon>
                        <ion-icon name="star"></ion-icon>
                        <ion-icon name="star"></ion-icon>
                        <ion-icon name="star"></ion-icon>
                      </div>
                    </h3>
                  </div>
                </div>
              </div>
              <!-- Slide-end -->
               <!-- Slide-start -->
               <div class="swiper-slide tranding-slide">
                <div class="tranding-slide-img">
                  <img src="images/art9.jpg" alt="Tranding">
                </div>
                <div class="tranding-slide-content">
                  <h1 class="art-price">$19,000</h1>
                  <div class="tranding-slide-content-bottom">
                    <h2 class="art-name">
                      Tree
                    </h2>
                    <h3 class="art-rating">
                      <span>4.5</span>
                      <div class="rating">
                        <ion-icon name="star"></ion-icon>
                        <ion-icon name="star"></ion-icon>
                        <ion-icon name="star"></ion-icon>
                        <ion-icon name="star"></ion-icon>
                        <ion-icon name="star"></ion-icon>
                      </div>
                    </h3>
                  </div>
                </div>
              </div>
              <!-- Slide-end -->
               <!-- Slide-start -->
               <div class="swiper-slide tranding-slide">
                <div class="tranding-slide-img">
                  <img src="images/art10.jpg" alt="Tranding">
                </div>
                <div class="tranding-slide-content">
                  <h1 class="art-price">$11,000</h1>
                  <div class="tranding-slide-content-bottom">
                    <h2 class="art-name">
                      The fire
                    </h2>
                    <h3 class="art-rating">
                      <span>4.5</span>
                      <div class="rating">
                        <ion-icon name="star"></ion-icon>
                        <ion-icon name="star"></ion-icon>
                        <ion-icon name="star"></ion-icon>
                        <ion-icon name="star"></ion-icon>
                        <ion-icon name="star"></ion-icon>
                      </div>
                    </h3>
                  </div>
                </div>
              </div>
              <!-- Slide-end -->
              
            </div>
  
            <div class="tranding-slider-control">
              <div class="swiper-button-prev slider-arrow">
                <ion-icon name="arrow-back-outline"></ion-icon>
              </div>
              <div class="swiper-button-next slider-arrow">
                <ion-icon name="arrow-forward-outline"></ion-icon>
              </div>
              <div class="swiper-pagination"></div>
            </div>
  
          </div>
        </div>
      </section>
 <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
<script src="https://unpkg.com/swiper@8/swiper-bundle.min.js"></script>


      
