<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/styles/login.css">
</head>
<body>
    <div class="bg-image"></div>
    <div class="container">
        <div class="wrapper">
            <h2><img src="/images/WebLogo.PNG" width="100px"/></h2>
            <form action="/login" method="post">
                <input type ="email" name="email" placeholder="E-mail address"/>
                <input type ="password" name="password" placeholder='Password'/>
                <input type="submit">
                </form>
                <p>Forgot password?</p>
                <a href="/"><button>Login</button></a>
                <p>Don't have an account? <a  class="sign-up-link" href="/register">Sign Up</p>
        </div>
    </div>
</body>
</html>