<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/styles/login.css">
</head>
<body>
    <div class="bg-image"></div>
    <div class="container">
        <div class="wrapper">
            <h2><img src="/images/WebLogo.PNG" width="100px"/></h2>

            <form action="/register" method="post">
            <input type ="fname" name="name" placeholder="Name"/>
            <input type ="email" name="email" placeholder="E-mail address"/>
            <input type ="password" name="password" placeholder='Password'/>
            <input type ="password" name="confirmPassword" placeholder='Confirm Password'/>
            <input type="submit">
            
                </form>
                
                <a href="/login"><button>Sgin Up</button></a>
                <p>Already have an account? <a  class="sign-up-link" href="/login">Login</p>
        </div>
    </div>
</body>
</html>